@font-face {
  font-family: "puppy";
  src: url('../public/Fonts/puppy_2/Puppy.otf');
}

@font-face {
  font-family: "coolvetica";
  src: url('../public/Fonts/coolvetica/coolvetica\ rg.otf');
}

.app {
  text-align: center;
  font-family: "coolvetica";
}



.app-container {
  padding: 50px;
}

